@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    background-color: white;
    color: black;
  }

  :root.dark {
    background-color: #0c0a14;
    color: white;
  }

  body {
    margin: 0;
    overflow-x: hidden;
    background-color: inherit;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
